* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0 auto;
  background-color: #f7f7f7;
}

p {
  margin: 0 !important;
}

img {
  width: 100%;
  border-radius: 5px;
}

.pad-bot-top-10 {
  padding: 10px 0;
}

.pad-bot-10 {
  padding-bottom: 10px;
}

.pad-top-10 {
  padding-top: 10px;
}

:focus {
  outline: none;
}

.container {
  max-width: 750px;
  margin: 0 auto;
}

/* button {
  transition: all 0.5s ease-in-out;
  font-size: 14px;
  padding: 10px;
  background-color: #fff;
  border: 0.5px solid grey;
  border-radius: 5px;
} */
/* button:hover {
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border: none !important;
  color: white;
  background: linear-gradient(to right, #00ffff 0%, #6666ff 100%) !important;
} */
.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8px;
  -webkit-box-shadow: 0px 2px 2px #bdc3c720;
          box-shadow: 0px 2px 2px #bdc3c720;
  border-bottom: 0.5 solid grey;
  background-color: #fff;
}

.header .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
  width: 50%;
}

.header i {
  margin: 5px 10px;
  font-size: 25px;
  color: grey;
}

.header input {
  font-size: 14px;
  padding: 5px;
  border: none;
  background-color: #f0f0f0;
  width: 90%;
}

.body {
  margin: 0 auto;
  max-width: 750px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.body .tree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px;
}

.body .tree a {
  color: #3b4bda;
  font-weight: 300;
  margin-right: 5px;
}

.body .tree span:hover {
  color: blue;
  font-weight: 500;
  -webkit-transition: width 0.5s ease;
  transition: width 0.5s ease;
  cursor: pointer;
}

.body .info {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
  -webkit-box-shadow: 0px 2px 4px #dbdbdb;
          box-shadow: 0px 2px 4px #dbdbdb;
  border-radius: 5px;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  max-height: 350px;
  margin-right: 15px;
}

.info-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

.info-text h1 {
  font-size: 20px;
  margin: 0;
  font-weight: 600;
}

.info-text .address {
  font-size: 14px;
  color: grey;
  font-weight: 300;
  margin: 0;
}

.info-text .time {
  font-weight: 400;
}

.info-text .price {
  font-weight: 700;
}

.stars i {
  color: #caca36;
}

.description {
  font-size: 16px;
  word-spacing: 0.5px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.description span {
  font-size: 500;
  color: #548aee;
  cursor: pointer;
  padding: 5px;
}

.description span:hover {
  color: blue;
}

.slider img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.comment {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px;
  margin-top: 30px;
  -webkit-box-shadow: 0px 2px 4px #dbdbdb;
          box-shadow: 0px 2px 4px #dbdbdb;
  border-radius: 5px;
}

.comment h1 {
  font-size: 18px;
  font-weight: 400;
}

.comment .your-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.comment .your-comment form {
  width: 70%;
  height: 100px;
  margin-bottom: 30px;
}

.comment .your-comment textarea {
  width: 100%;
  height: 100%;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 10px;
  max-lines: 4;
  font-size: 16px;
}

.comment .send {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.comment button {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding: 8px 20px;
  background: #fff;
  border: 1px solid grey;
  font-weight: 600;
  font-size: 18px;
  border-radius: 10px;
}

.comment .people-comment {
  margin: 10px;
}

.people-comment .show-comment {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 0.5px solid grey;
}

.people-comment .show-comment .avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.people-comment .show-comment .avatar img {
  width: 100%;
  border-radius: 50%;
}

.people-comment .show-comment .info-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 10px;
  width: 80%;
}

.people-comment .show-comment .info-comment .name-stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

.people-comment .show-comment .info-comment .info-user p {
  margin: 0;
}

.people-comment .show-comment .info-comment .date {
  font-size: 12px;
  color: grey;
  font-weight: 400;
}

.people-comment .show-comment .info-comment .content {
  font-size: 14px;
  font-weight: 300;
  color: #3b3939;
}

/* LIST SHOPS PAGE */
.body .tab-bar {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: center;
      align-self: center;
  width: 80%;
}

/* .body .tab-bar a {
  font-weight: 500;
  font-size: 20px;
  position: relative;
  transition: all 0.3s ease;
}

.body .tab-bar a:after {
  bottom: -2px;
  content: '';
  height: 2px;
  margin: 2px 0 0;
  position: absolute;
  transition: all .2s ease-in-out;
  width: 0;
  right: 50%;
  background-color: red;
}

.body .tab-bar a:hover:after {
  width: 50%;
}

.body .tab-bar a:before {
  bottom: -2px;
  content: '';
  height: 2px;
  margin: 2px 0 0;
  position: absolute;
  transition: all .2s ease-in-out;
  width: 0;
  left: 50%;
  background-color: red;
}

.body .tab-bar a:hover:before {
  width: 50%;
}

.body .tab-bar a:hover {
  color: red;
  cursor: pointer;
  transition: all 0.3s ease;
} */
.body .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin: 10px 0;
}

@media (max-width: 991px) {
  .body .item {
    width: 28% !important;
  }
}

@media (max-width: 767px) {
  .body .item {
    width: 45% !important;
  }
}

@media (max-width: 500px) {
  .your-comment {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .info-text {
    width: 100%;
  }
  .body .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .carousel-inner {
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 10px;
  }
  .slider {
    width: 100%;
    height: 25%;
    margin-bottom: 10px;
  }
  .body .tab-bar {
    width: 90%;
  }
  .body .tab-bar a {
    font-size: 14px;
  }
  .body .item {
    width: 65% !important;
  }
  .body .list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .info .info-user {
    width: 100% !important;
  }
  .info-user .line-info,
  .info-user .line-info input {
    width: 100%;
  }
}

.body .item {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  width: 20%;
  margin: 2%;
  height: 200px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 1px 3px #e0e0e0;
          box-shadow: 0px 1px 3px #e0e0e0;
}

.body .item:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 10px #3d5059;
          box-shadow: 0px 0px 10px #3d5059;
}

.body .item .photo {
  width: 100%;
  position: relative;
  height: 65%;
}

.body .item .photo img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: 100%;
}

.body .item .photo:after {
  position: absolute;
  right: -2%;
  top: 10%;
  color: #fff;
  content: "50%";
  padding: 2px 10px;
  font-size: 12px;
  font-weight: 600;
  background: -webkit-gradient(linear, right top, left top, from(#df5e00), color-stop(90%, #f3c520));
  background: linear-gradient(to left, #df5e00 0%, #f3c520 90%);
}

.item .name-stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 10px 0 10px;
}

.item .name-stars .stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item .name-stars i {
  font-size: 15px;
}

.item .name-stars .name {
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}

.item .address {
  text-align: center;
  margin: 5px 10px 10px 10px;
  font-size: 10px;
  color: #a7a7a7;
  font-weight: 100;
}

.body .result {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.body .pagination {
  margin-top: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.row {
  display: -ms-flexbox;
  /* IE10 */
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%;
  /* IE10 */
  -webkit-box-flex: 25%;
          flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    -webkit-box-flex: 50%;
            flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    -webkit-box-flex: 100%;
            flex: 100%;
    max-width: 100%;
  }
}

.info {
  margin-top: 50px;
}

.info .avatar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info .avatar {
  border-radius: 50%;
  overflow: hidden;
  width: 150px;
  height: 150px;
}

.info-user .input-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.info .info-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
}

.info-user .line-info {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info-user .line-info .title {
  font-size: 16px;
  font-weight: 600;
}

.info-user .line-info input {
  border-radius: 10px;
  border: 1px solid grey;
  padding: 5px 10px;
}
/*# sourceMappingURL=detail.css.map */