:root {
  --transition-time: 0.4s;
}

html, body {
  background-color: #f7f7f7;
}

.nav-top {
  background-color: #fff !important;
  -webkit-box-shadow: 0px 2px 2px #bdc3c720;
          box-shadow: 0px 2px 2px #bdc3c720;
}

.sidebar-top .item {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0.5rem;
  margin-bottom: 7px;
  height: 48px;
  border-radius: 5px;
  border: 1px solid #f1f1f1;
  text-decoration: none !important;
  -webkit-transition: var(--transition-time);
  transition: var(--transition-time);
}

.sidebar-top .item:hover {
  -webkit-box-shadow: 0px 0px 3px #d32f2f;
          box-shadow: 0px 0px 3px #d32f2f;
  border: 1px solid #d32f2f;
}

.sidebar-top .item .icon {
  padding: 5px 5px;
  position: relative;
}

.sidebar-top .item .icon i {
  font-size: 26px;
}

.sidebar-top .item .icon::after {
  content: "";
  position: absolute;
  display: block;
  width: 1px;
  height: 80%;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: rgba(61, 80, 89, 0.1);
}

.sidebar-top .item .label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  justify-items: center;
  color: #3d5059;
  font-weight: 500;
  font-size: 1rem;
}

.sidebar-top .item .label i {
  margin: 0 5px 0 10px;
}

.wraper-top-car {
  padding: 10px;
  padding-bottom: 40px;
  width: 100%;
  background-color: #fff;
  border: 1px solid #f1f1f1;
  border-radius: 6px;
  min-height: 275px;
  -webkit-box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.17);
          box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.17);
}

.wraper-top-car #top-carousel img {
  width: 100%;
}

.wraper-top-car #top-carousel .carousel-indicators {
  bottom: -50px;
}

.wraper-top-car #top-carousel .carousel-indicators li {
  margin-right: 10px;
  width: 10px !important;
  height: 10px !important;
  border-radius: 50%;
  background-color: #757070;
}

.wraper-top-car #top-carousel .carousel-indicators .active {
  background-color: #d32f2f;
}

.disable-current {
  opacity: 1 !important;
}

.box-title {
  position: relative;
  padding: 0 1rem;
}

.box-title p {
  font-size: 1.5rem;
}

.box-title p i {
  padding-right: 10px;
}

.box-title a {
  position: absolute;
  top: 20%;
  right: 2%;
}

.hr-cus {
  width: 95%;
}

.wraper-item {
  padding: 10px 0;
}

.wraper-item .deal-item {
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 3px #e0e0e0;
          box-shadow: 0px 1px 3px #e0e0e0;
  -webkit-transition: var(--transition-time);
  transition: var(--transition-time);
}

.wraper-item .deal-item:hover {
  -webkit-box-shadow: 0px 0px 10px #3d5059;
          box-shadow: 0px 0px 10px #3d5059;
}

.wraper-item .deal-item .avatar {
  text-decoration: none;
}

.wraper-item .deal-item .avatar img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.wraper-item .deal-item .percent {
  position: absolute;
  right: 0;
  top: 0.4rem;
  background-color: #d32f2f;
  color: #fff;
  padding: 0.1rem 0.4rem;
  font-size: 0.9rem;
  font-weight: 500;
}

.wraper-item .deal-item .brand {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wraper-item .deal-item .brand p {
  margin-top: 0.5rem;
  text-transform: uppercase;
  font-weight: 600;
}

.wraper-item .deal-item hr {
  width: 90%;
  border: 0.25px solid #e8e8e8;
  margin: 0 auto;
}

.wraper-item .deal-item .address {
  text-decoration: none;
  margin: 5px 10px 0 10px;
  color: #3d5059;
  font-weight: 200;
  font-size: 1rem;
}

@media (max-width: 992px) {
  .sidebar-top .item {
    padding: 0.5rem;
    margin-bottom: 3px;
    height: 40px;
  }
  .sidebar-top .item .icon {
    padding: 5px 5px;
  }
  .sidebar-top .item .icon i {
    font-size: 20px;
  }
  .sidebar-top .item .icon::after {
    height: 80%;
    top: 50%;
    right: 0;
  }
  .sidebar-top .item .label {
    font-weight: 500;
    font-size: 0.8rem;
    white-space: nowrap;
  }
  .sidebar-top .item .label i {
    font-size: 10px;
    margin: 0 5px 0 5px;
  }
  .wraper-top-car {
    min-height: 200px;
  }
}

@media (max-width: 576px) {
  .sidebar-top .item {
    padding: 0.5rem;
    margin-bottom: 3px;
    height: 40px;
  }
  .sidebar-top .item .icon {
    padding: 5px 5px;
  }
  .sidebar-top .item .icon i {
    font-size: 20px;
  }
  .sidebar-top .item .icon::after {
    height: 80%;
    top: 50%;
    right: 0;
  }
  .sidebar-top .item .label {
    font-weight: 500;
    font-size: 0.8rem;
    white-space: nowrap;
  }
  .sidebar-top .item .label i {
    font-size: 10px;
    margin: 0 5px 0 5px;
  }
  .wraper-top-car {
    margin-top: 1rem;
    min-height: 150px;
  }
}
/*# sourceMappingURL=index.css.map */