:root {
  --transition-time: 0.4s;
}
html, body {
  background-color: #f7f7f7;
}
.nav-top {
  background-color: #fff !important;
  box-shadow: 0px 2px 2px #bdc3c720;
}

.sidebar-top {
  .item {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0.5rem;
    margin-bottom: 7px;
    height: 48px;
    border-radius: 5px;
    border: 1px solid #f1f1f1;
    text-decoration: none !important;
    transition: var(--transition-time);
    &:hover {
      box-shadow: 0px 0px 3px #d32f2f;
      border: 1px solid #d32f2f;
    }
    .icon {
      padding: 5px 5px;
      position: relative;
      i {
        font-size: 26px;
      }
      &::after {
        content: "";
        position: absolute;
        display: block;
        width: 1px;
        height: 80%;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        background-color: rgba(61, 80, 89, 0.1);
      }
    }
    .label {
      display: flex;
      align-self: center;
      justify-items: center;
      color: #3d5059;
      font-weight: 500;
      font-size: 1rem;
      i {
        margin: 0 5px 0 10px;
      }
    }
  }
  
}

.wraper-top-car {
  padding: 10px;
  padding-bottom: 40px;
  width: 100%;
  background-color: #fff;
  border: 1px solid #f1f1f1;
  border-radius: 6px;
  min-height: 275px;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.17);
  #top-carousel {
    img {
      width: 100%;
    }
    .carousel-indicators {
      bottom: -50px;
      li {
        margin-right: 10px;
        width: 10px !important;
        height: 10px !important;
        border-radius: 50%;
        background-color: #757070;
      }
      .active {
        background-color: #d32f2f;
      }
    }
  }
}
.disable-current {
  opacity: 1 !important;
}
.box-title {
  position: relative;
  padding: 0 1rem;
  p {
    i {
      padding-right: 10px;
    }
    font-size: 1.5rem;
  }
  a {
    position: absolute;
    top: 20%;
    right: 2%;
  }
}

.hr-cus {
  width: 95%;
}

.wraper-item {
  padding: 10px 0;
  .deal-item {
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 1px 3px rgb(224, 224, 224);
    transition: var(--transition-time);
    &:hover {
      box-shadow: 0px 0px 10px #3d5059;
    }
    .avatar {
      text-decoration: none;
      img {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
    }
    .percent {
      position: absolute;
      right: 0;
      top: 0.4rem;
      background-color: #d32f2f;
      color: #fff;
      padding: 0.1rem 0.4rem;
      font-size: 0.9rem;
      font-weight: 500;
    }
    .brand {
      height: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      p {
        margin-top: 0.5rem;
        text-transform: uppercase;
        font-weight: 600;
      }
    }
    hr {
      width: 90%;
      border: 0.25px solid #e8e8e8;
      margin: 0 auto;

    }
    .address {
      text-decoration: none;
      margin: 5px 10px 0 10px;
      color: #3d5059;
      font-weight: 200;
      font-size: 1rem;

    }
  }
}

// Responsive
@media (max-width: 992px) {
  .sidebar-top {
    .item {
      padding: 0.5rem;
      margin-bottom: 3px;
      height: 40px;
      .icon {
        padding: 5px 5px;
        i {
          font-size: 20px;
        }
        &::after {
          height: 80%;
          top: 50%;
          right: 0;
        }
      }
      .label {
        font-weight: 500;
        font-size: 0.8rem;
        white-space: nowrap;
        i {
          font-size: 10px;
          margin: 0 5px 0 5px;
        }
      }
    }
    
  }
  .wraper-top-car {
    min-height: 200px;
  }
}

@media (max-width: 768px) {
  
}

@media (max-width: 576px) {
  .sidebar-top {
    .item {
      padding: 0.5rem;
      margin-bottom: 3px;
      height: 40px;
      .icon {
        padding: 5px 5px;
        i {
          font-size: 20px;
        }
        &::after {
          height: 80%;
          top: 50%;
          right: 0;
        }
      }
      .label {
        font-weight: 500;
        font-size: 0.8rem;
        white-space: nowrap;
        i {
          font-size: 10px;
          margin: 0 5px 0 5px;
        }
      }
    }
    
  }
  .wraper-top-car {
    margin-top: 1rem;
    min-height: 150px;
  }
}